
$background: rgb(0,0,0);
$primary-color: rgb(0,160,220);



body {
    background-color: $background;
    font-family: 'Adelle', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.umotivate_team-member-choice{
    width: 300px;
    height: 350px;
    padding: 10px;
    display: block;
    text-align: center;
}

#umotivate_team-member{
    margin: 20px;
    float: left;
}


#umotivate_team-member-pic{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

a#umotivate_team-member-link{
    color: $primary-color;
    text-decoration: none;

    :hover{
        color: pink;
    }
 
    :active{
        color: darken(pink, 0.2);
    }
}

